#box-left {
    height: 200px;
}

#box-score {
    height: 200px;
}

#box-right{
    height: 100px;
}

.card-right{
    float: right;
    margin: auto;
}

#card-body{
    float: right;
}

#crystals {
    margin: auto;
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

#diamond{
    margin: auto;
    width: 50px;
    height: 50px;
    border: 1px, black;
}


#diffLevel {
    padding-left: 50px;
    margin-right: 10px;
    font-weight: bold;
    color: red;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
 }


.gem {
    padding: 0px 25px 0px 25px;
}

p{
    font-size: 20px;
    margin: auto;
    padding: 50px;
    color: rgb(55, 0, 255);
}
#random-button{
    width: 100%;
    margin: auto;
    margin-top: 100px;
    margin-left: 50%;
}

#row2 {
    float: bottom;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 25px;
    background: rgb(0, 4, 255);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
#title-text{
    font-family: 'Faster One', cursive;
    font-size: 30px;
}